/* Sign up button styles */
.signup-redirect {
    margin-top: 20px;
    text-align: center;
}

#signup-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

#signup-btn:hover {
    background-color: var(--oxford-blue);
    transition: 0.5s;
}

/* Login page body styles */
:root {

    --oxford-blue: #002147;
    --hvit: #ffff;
    --blue-light: #abc4d3;
    --light-gray: #f2f2f2;
    --black-black: #010203;
    --blub-blub: #0b83ce;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--light-gray);
    /* Adjust the color as per your design */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.logo{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 140px;
    margin-bottom: 45px;
    
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Allow elements to fill the width */
    gap: 15px;
}


/* Make inputs full-width inside the form */
#login-form input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Style the submit button */
#login-form button {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: var(--blub-blub);
    color: var(--hvit);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#login-form button:hover {
    background-color: var(--oxford-blue);
}


/* Overall container styling */
.login-container {
    background: white;
    padding: 60px 40px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 2px 5px 19px rgba(0, 0, 0, 0.2);
    text-align: center; /* This centers the title and text */
}


.login-container h1 {
    font-size: 1.8rem;
    margin-bottom: 25px;
    color: black;
}



