<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slettKonto.css') }}">
    <title>Katteposten - konto slettet</title>
</head>

<body>

    <main>

        <div class="delete-success">
            <h1>Kontoen din er slettet 🐾</h1>
            <p>Takk for at du har brukt Katteposten. Vi håper vi sees igjen!</p>
            <a href="/" class="logout-knappen">Til forsiden</a>
        </div>
    </main>

</body>

</html>